<!--Sisääkirjautumisen formit. Validoinnin vaatimuksena, että tunnus ja salasana ei saa olla tyhjiä.
 -->
<div class="sivu">
  <div id="containerlogo">
    <img
      id="isologo"
      src="../../assets/icons/kellokortti-logo2.png"
      alt="My Image"
    />
  </div>
  <div id="loginviesti">
    <p id="Kirjaudu">Kirjaudu sisään</p>
  </div>
  <div class="containermt-5">
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f.value, f.valid!)"
      action="/action_page.php"
      novalidate
    >
      <div class="mb-3 mt-3">
        <input
          #tunnus="ngModel"
          type="text"
          class="form-control"
          id="tunnus"
          name="tunnus"
          placeholder="Käyttäjätunnus"
          ngModel
          required
        /><span
          [hidden]="!f.form.hasError('required', 'tunnus') || tunnus.pristine"
          >Kirjoita käyttäjätunnus</span
        >
      </div>
      <div class="mb-3 mt-3">
        <input
          #salasana="ngModel"
          type="password"
          class="form-control"
          id="salasana"
          name="salasana"
          placeholder="Salasana"
          ngModel
          required
        />

        <span
          [hidden]="
            !f.form.hasError('required', 'salasana') || salasana.pristine
          "
          >Anna salasana</span
        >
      </div>
      <div class="bcontainer">
        <button type="submit" class="btn-primary-info">Lähetä</button>
        <div class="binfo">
          <button
            type="button"
            class="btn-primary-info2"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            Info
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="this.error" class="alert alert-danger mt-3 alert-dismissible">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      (click)="changeError()"
    ></button>
    <strong>Tunnus tai salasana väärin.</strong>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Kellokorttisovellus</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->

      <div class="modal-body">
        Kirjaudu työaikaseurantaan käyttämällä työnantajan sinulle luovuttamia
        tunnuksia. Jos et muista tunnuksiasi, ole yhteydessä esihenkilöösi.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn-danger" data-bs-dismiss="modal">
          Sulje
        </button>
      </div>
    </div>
  </div>
</div>
