<div class="gradient">
  <button id="button_back" routerLink="../userview">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 96 960 960"
      width="48"
      id="arrowback"
    >
      <path
        d="M480 896 160 576l320-320 42 42-248 248h526v60H274l248 248-42 42Z"
      />
    </svg>
    Takaisin
  </button>
  <div></div>
  <div class="container">
    <h1>Etunimi Sukunimi</h1>
    <div class="info">
      <div>Tunnus</div>
      <div>12345</div>
    </div>

    <div class="info">
      <div>Päivämäärä</div>
      <div>26.5.2023</div>
    </div>

    <div class="info">
      <div>Työnimike</div>
      <div>jokutukija</div>
    </div>

    <div class="info">
      <div>Ajanjakso</div>
      <div>1.5.2023 - 31.5.2023</div>
    </div>

    <div class="info">
      <div>Valvoja</div>
      <div>jokuvalvoja</div>
    </div>

    <div class="info">
      <div>Päivämäärä</div>
      <div>1.1.2000</div>
    </div>
  </div>

  <div class="container">
    <h1>Tuntitiedot</h1>
    <div class="info">
      <div>Työtunnit pv</div>
      <div>7.5 h</div>
    </div>

    <div class="info">
      <div>Työtunnit vko</div>
      <div>30 h</div>
    </div>

    <div class="info">
      <div>Työtunnit kk</div>
      <div>120 h</div>
    </div>

    <div class="info">
      <div>Ylityötunnit pv</div>
      <div>1.5 h</div>
    </div>

    <div class="info">
      <div>Ylityötunnit yht</div>
      <div>5 h</div>
    </div>

    <div class="info">
      <div>Liukumatunnit</div>
      <div>2 h</div>
    </div>
  </div>
</div>
