<div class="gradient">
  <div class="container">
    <h1>Etunimi Sukunimi</h1>
    <div class="info">
      <div>Tunnus</div>
      <div>12345</div>
    </div>

    <div class="info">
      <div>Päivämäärä</div>
      <div>26.5.2023</div>
    </div>

    <div class="info">
      <div>Työnimike</div>
      <div>jokutukija</div>
    </div>

    <div class="info">
      <div>Ajanjakso</div>
      <div>1.5.2023 - 31.5.2023</div>
    </div>

    <div class="info">
      <div>Valvoja</div>
      <div>jokuvalvoja</div>
    </div>

    <div class="info">
      <div>Päivämäärä</div>
      <div>1.1.2000</div>
    </div>
  </div>

  <div class="container">
    <h1>Tuntitiedot</h1>
    <div class="info">
      <div>Työtunnit pv</div>
      <div>7.5 h</div>
    </div>

    <div class="info">
      <div>Työtunnit vko</div>
      <div>30 h</div>
    </div>

    <div class="info">
      <div>Työtunnit kk</div>
      <div>120 h</div>
    </div>

    <div class="info">
      <div>Ylityötunnit pv</div>
      <div>1.5 h</div>
    </div>

    <div class="info">
      <div>Ylityötunnit yht</div>
      <div>5 h</div>
    </div>

    <div class="info">
      <div>Liukumatunnit</div>
      <div>2 h</div>
    </div>
  </div>
</div>
