.container {
  background-color: #2ec4b6;
  margin: 1rem;
  padding: 1rem;
  max-width: 92%;
  border-radius: 25px;
  color: white;
  box-shadow: 0 5px 5px 2px #868686;
}

.button_back {
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.75rem 2rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #2ec4b6;
  font-size: 1.25rem;
  box-shadow: 0 3px 5px 2px #a3a3a3;
}

#arrowback {
  width: 1.5rem;
  height: 1.25rem;
  margin-bottom: 0.2rem;
  fill: #2ec4b6;
  stroke-width: 1rem;
}

.name {
  font-size: 1.75rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.pvm {
  font-size: 1.25rem;
}
