@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body,
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

.hakupalkki {
  width: 90%;
  padding-top: 2em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-radius: 30px;
  padding: 0.5rem 0.5rem;
  background-color: white;
  border-color: #ff9f1c;
  border-radius: 30px;
  margin: auto;
  margin-top: 1em;
  width: 72%;
}

input,
::placeholder {
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  font-size: 1.25rem;
}

#button_search {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  background-color: white;
  border-style: solid;
  padding: 0.5rem 0.3rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ff9f1c;
  font-size: 1rem;
  font-weight: bold;
  border-color: #ff9f1c;
  border-radius: 30px;
  margin: 1rem;
}

#button_search:hover {
  transition-duration: 0.2s;
  scale: 105%;
  filter: brightness(1.1);
}

#button_search:active {
  transition-duration: 0.1s;
  scale: 99%;
  filter: brightness(0.9);
}

.col-4 {
  padding: 0%;
}

#button_add_worker {
  width: 38%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ff9f1c;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000065);
  font-weight: bold;
}

#button_add_worker:hover {
  transition-duration: 0.2s;
  scale: 105%;
  filter: brightness(1.1);
}

#button_add_worker:active {
  transition-duration: 0.1s;
  scale: 99%;
  filter: brightness(0.9);
}

#button_edit_admin {
  width: 42%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  background-color: #ff9f1c;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000065);
  font-weight: bold;
}

#button_edit_admin:hover {
  transition-duration: 0.2s;
  scale: 105%;
  filter: brightness(1.1);
}

#button_edit_admin:active {
  transition-duration: 0.1s;
  scale: 99%;
  filter: brightness(0.9);
}

#button-tallennus {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  background-color: #ff9f1c;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000065);
  font-weight: bold;
}

#button-tallennus:hover {
  transition-duration: 0.2s;
  scale: 105%;
  filter: brightness(1.1);
}

#button-tallennus:active {
  transition-duration: 0.1s;
  scale: 99%;
  filter: brightness(0.9);
}

#button-lisays {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  background-color: #ff9f1c;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000065);
  font-weight: bold;
}

#button-lisays:hover {
  transition-duration: 0.2s;
  scale: 105%;
  filter: brightness(1.1);
}

#button-lisays:active {
  transition-duration: 0.1s;
  scale: 99%;
  filter: brightness(0.9);
}

#lisaysnapit {
  width: 90%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
  background-color: #cbf3f0;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000065);
  font-weight: bold;
}

#lisayslomake {
  width: 90%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
  background-color: #cbf3f0;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000065);
  font-weight: bold;
}

.button_edit_delete {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  padding: 0.4rem 0.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  filter: drop-shadow(1px 4px 2px #00000075);
  font-weight: bold;

  width: 2.6rem;
  height: 2.5rem;
  margin: 0.25rem;
}

.container {
  font-family: 'Montserrat', sans-serif;
  background-color: #2ec4b6;
  border-radius: 25px;
  color: white;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.599);
  max-width: 90%;
  padding: 0.8rem;
}

svg {
  width: 2rem;
  height: 1.5rem;
  fill: #2ec4b6;
  stroke-width: 1rem;
}

.delete {
  fill: rgb(215, 66, 66);
}

.search {
  width: 2rem;
  height: 1.5rem;
  margin-top: 0.1rem;
  margin-left: 0.12rem;
}

.svg_bg {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 3px 5px 2px #a3a3a3;
  width: 2.6rem;
  height: 2.5rem;
  margin: 0.25rem;
}

div {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5rem;
}

.navigaatio {
  margin: auto;
  width: 90%;
  position: absolute;
  bottom: 0.5em;
  left: 5%;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
