input {
  border-radius: 25px;
 }
 
 input, ::placeholder {
   padding-left: 1rem;
 }
 
 button {
   border-radius: 30px;
   padding: 20px;
   padding: 0px 8px
 }
 
 .container {
   background-color: #2EC4B6;
   border-radius: 25px;
   color: white;
   box-shadow: 5px 5px 5px rgb(145, 145, 145);
   
 }