<div class="container">
  <div id="containerlogo">
    <img
      id="isologo"
      src="../../assets/icons/kellokortti-logo2.png"
      alt="My Image"
    />
  </div>
  <div class="container-laskuri">
    <button
      *ngIf="!tyo"
      class="button-big-orange"
      (click)="doActionBasicTimer('start')"
      (click)="sisaan()"
    >
      Käynnistä
    </button>
    <button *ngIf="tyo" class="button-big-orange" (click)="aloitatauko()">
      Tauko
    </button>

    <button *ngIf="tyovalmis" class="button-big">Tuloste</button>
    <span *ngIf="!showTimer">
      <button class="button-small-blue" (click)="toggleTimer()">
        Näytä päivän saldo
      </button></span
    >
    <span *ngIf="showTimer">
      <button class="button-small-blue" (click)="toggleTimer()">
        Piilota päivän saldo
      </button></span
    >
    <div [style.display]="showTimer ? 'block' : 'none'">
      <cd-timer class="kello" [autoStart]="false" #basicTimer></cd-timer>
    </div>
  </div>
</div>

<div class="container-muut">
  <button id="button-saikku">Sairausp.olo</button>
  <button id="button-lupa">Luvallinen p.olo</button>
  <button id="button-ylityo">Ylityö</button>
  <button id="button-liukuma">Liukuma</button>
</div>
